variables:
  UV_VERSION: 0.8.0
  PYTHON_VERSION: 3.13
  BASE_LAYER: bookworm-slim
  PACKAGE: cibutler
  UV_PUBLISH_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi"  
  UV_PUBLISH_USERNAME: "gitlab-ci-token"  
  UV_PUBLISH_PASSWORD: "${CI_JOB_TOKEN}"  
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

stages:
  - review
  - build
  - test
  - linters
  - scan
  - publish
  - deploy

deploy-pages:
  stage: build
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  tags: ["osdu-small"]
  pages: true # specifies that this is a Pages job
  script:
    - uv run $PACKAGE --help
    - uv run $PACKAGE docs generate --name $PACKAGE --output docs/docs/commands_reference.md
    - apt update
    - apt install git -y
    - pip install --default-timeout=1000 mkdocs-material
    - pip install termynal
    - pip install mkdocs-git-revision-date-plugin
    - cd docs
    - mkdocs build --site-dir ../public
  needs: []
  artifacts:
    paths:
      - public

build-python-package:
  stage: build
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  tags: ["osdu-small"]
  script:
    - apt update
    - apt install git -y
    - uv run $PACKAGE --help
      # Set the version in pyproject.toml based on VERSION file, pipeline details and git tags
    - VERSION=$(uv run setversion.py)  
    - echo "Setting version to $VERSION"
    - uvx --from=toml-cli toml set --toml-path=pyproject.toml project.version $VERSION
    - uv build
    #- uv run --with $PACKAGE --no-project -- python -c "import $PACKAGE"
  needs: []

publish-python-package:
  stage: publish
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  tags: ["osdu-small"]
  script:
    - apt update
    - apt install git -y
    - uv run $PACKAGE --help
      # Set the version in pyproject.toml based on VERSION file, pipeline details and git tags
    - VERSION=$(uv run setversion.py)  
    - uvx --from=toml-cli toml set --toml-path=pyproject.toml project.version $VERSION
    - uv build
    - uv run --with $PACKAGE --no-project -- python -c "import $PACKAGE"
    - uv publish dist/*.whl
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

compile-and-unit-test:
  stage: test
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  tags: ["osdu-small"]
  script:
    - uv run pytest -v --junit-xml=unit_tests_report.xml tests/unit
  coverage: '/^(?i)(TOTAL).*\s+(\d+\%)$/'
  artifacts:
    when: always
    reports:
      junit: unit_tests_report.xml

    expire_in: 2 days
  needs: []

analyze-python-dependencies:
  image: $CI_REGISTRY/osdu/platform/deployment-and-operations/release-scripts/tasklemon:v2.3
  tags: ['osdu-small']
  needs: ['compile-and-unit-test']
  stage: scan

  artifacts:
    paths:
      - python-dependencies.json

  script:
    - analyze-python.js
    - format-dependencies.js

prepare-release-notes:
  stage: build
  image: alpine:latest
  rules:
  - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/'
  script:
    - apk add curl jq
    - 'curl -H "PRIVATE-TOKEN: $CI_API_TOKEN" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/repository/changelog?version=$CI_COMMIT_TAG" | jq -r .notes > release_notes.md'
  artifacts:
    paths:
    - release_notes.md
  when: manual

publish-release-notes:
  stage: publish
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: prepare-release-notes
      artifacts: true
  rules:
  - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/'
  script:
    - echo "Creating release"
  release:
    name: 'Release $CI_COMMIT_TAG'
    description: release_notes.md
    tag_name: '$CI_COMMIT_TAG'
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'Container Image $CI_COMMIT_TAG'
          url: "https://$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA"
  when: manual

test-deployment-default-on-minkube:
  stage: deploy
  image: ubuntu
  tags: ["osdu-himem"]
  allow_failure: true
  script:
    - uname -a
    - export PATH=$PATH:$HOME/.local/bin
    - apt-get update
    - apt-get install -y curl jq
    - echo $(curl ifconfig.me)
    - apt-get install -y python3 pipx git coreutils ca-certificates sudo iproute2 cgroup-tools
    - pipx install uv
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
    - curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    - chmod 700 get_helm.sh
    - ./get_helm.sh
    - curl -LO https://github.com/kubernetes/minikube/releases/latest/download/minikube-linux-amd64
    - install minikube-linux-amd64 /usr/local/bin/minikube && rm minikube-linux-amd64
    - pipx install cibutler --index-url https://community.opengroup.org/api/v4/projects/1558/packages/pypi/simple --pip-args="--extra-index-url=https://community.opengroup.org/api/v4/projects/148/packages/pypi/simple"
    - $PACKAGE --version
    - install -m 0755 -d /etc/apt/keyrings
    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
    - chmod a+r /etc/apt/keyrings/docker.asc
    - apt install -y apt-transport-https software-properties-common
    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
    - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable"
    - apt-cache policy docker-ce
    - apt install -y docker-ce
    - docker info
    - docker ps
    - docker network ls
    - pipx install hostsman
    - hostsman -i osdu.localhost:127.0.0.1 osdu.local:127.0.0.1 airflow.localhost:127.0.0.1 airflow.local:127.0.0.1 minio.localhost:127.0.0.1 minio.local:127.0.0.1 keycloak.localhost:127.0.0.1 keycloak.local:127.0.0.1
    - hostsman -l
    - $PACKAGE --help
    - minikube delete || echo "minikube delete failed"
    - uv run $PACKAGE --version
    - uv run $PACKAGE check --target minikube || echo "check failed"
    - uv run $PACKAGE install --force --max-memory --max-cpu --minikube --quiet -d skip || echo "install failed"; result=$?
    - docker inspect minikube | jq -r '.[].NetworkSettings.Networks.minikube.IPAddress'
    - HOSTIP=$(uv run $PACKAGE diag show-network --localhost)
    - echo $HOSTIP
    - hostsman -i $HOSTIP
    - HOSTSTR=$(uv run $PACKAGE diag get-cluster-ip --host)
    - hostsman -r osdu.localhost osdu.local airflow.localhost airflow.local minio.localhost minio.local keycloak.localhost keycloak.local
    - echo $HOSTSTR
    - hostsman -i $HOSTSTR
    - hostsman -l
    - LOGFILE=$(uv run $PACKAGE diag logfile)
    - echo LOGFILE $LOGFILE
    - kubectl get service --all-namespaces
    - kubectl get vs  --all-namespaces
    - docker container inspect minikube --format="{{.State.Status}}"
    - if [ -n "$DEBUG_SLEEP" ]; then until [ -f /tmp/wake-up  ]; do sleep 10; done fi
    - uv run $PACKAGE tunnel --background
    - kubectl get service --all-namespaces
    - uv run $PACKAGE status --threshold=5 || echo "status failed"
    - uv run $PACKAGE groups || echo "groups failed" || echo "groups failed"
    - if [ -e "/tmp/wake-up" ]; then sleep 30m; else echo "no pause file detected"; fi
    - uv run $PACKAGE delete --force || echo "delete failed"
    - "[ $result == 0 ]"
  after_script:
    - echo "After script running"
    - uv run $PACKAGE diag inspect 
    - cp /root/cibutler.log cibutler.log
    - minikube logs > minikube.log || echo "getting logs failed"
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
  artifacts:
    paths:
      - minikube.log
      - tunnel.log
      - cibutler.log
      - cibutler.zip
    when: always
    expire_in: 24 hrs

test-deployment-M24-on-minkube:
  stage: deploy
  image: ubuntu
  tags: ["osdu-himem"]
  allow_failure: true
  script:
    - uname -a
    - export PATH=$PATH:$HOME/.local/bin
    - apt-get update
    - apt-get install -y curl
    - echo $(curl ifconfig.me)
    - apt-get install -y python3 pipx git coreutils ca-certificates 
    - pipx install uv
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
    - curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    - chmod 700 get_helm.sh
    - ./get_helm.sh
    - curl -LO https://github.com/kubernetes/minikube/releases/latest/download/minikube-linux-amd64
    - install minikube-linux-amd64 /usr/local/bin/minikube && rm minikube-linux-amd64
    - pipx install cibutler --index-url https://community.opengroup.org/api/v4/projects/1558/packages/pypi/simple --pip-args="--extra-index-url=https://community.opengroup.org/api/v4/projects/148/packages/pypi/simple"
    - $PACKAGE --version
    - install -m 0755 -d /etc/apt/keyrings
    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
    - chmod a+r /etc/apt/keyrings/docker.asc
    - apt install -y apt-transport-https software-properties-common
    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
    - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable"
    - apt-cache policy docker-ce
    - apt install -y docker-ce
    - docker info
    - docker ps
    - pipx install hostsman
    - hostsman -i osdu.localhost:127.0.0.1 osdu.local:127.0.0.1 airflow.localhost:127.0.0.1 airflow.local:127.0.0.1 minio.localhost:127.0.0.1 minio.local:127.0.0.1 keycloak.localhost:127.0.0.1 keycloak.local:127.0.0.1
    - $PACKAGE --help
    - minikube delete || echo "minikube delete failed"
    - uv run $PACKAGE --version
    - uv run $PACKAGE check --target minikube || echo "check failed"
    - uv run $PACKAGE install --force --max-memory --max-cpu --minikube --quiet -d skip --version=0.27.0-local --source=oci://us-central1-docker.pkg.dev/or2-msq-gnrg-osdu-mp-t1iylu/cimpl/helm/osdu-cimpl|| echo "install failed"; result=$?
    - LOGFILE=$(uv run $PACKAGE diag logfile)
    - echo LOGFILE $LOGFILE
    - uv run $PACKAGE tunnel --background
    - uv run $PACKAGE status --threshold=5 || echo "status failed"
    - uv run $PACKAGE delete --force || echo "delete failed"
    - "[ $result == 0 ]"
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
  after_script:
    - cp /root/cibutler.log cibutler.log
    - minikube logs > minikube.log
  artifacts:
    paths:
      - minikube.log
      - cibutler.log
      - tunnel.log
    expire_in: 8 hrs
 
test-deployment-default-on-k3d:
  stage: deploy
  image: ubuntu
  tags: ["osdu-himem"]
  allow_failure: true
  script:
    - uname -a
    - export PATH=$PATH:$HOME/.local/bin
    - apt-get update
    - apt-get install -y curl
    - echo $(curl ifconfig.me)
    - apt-get install -y python3 pipx git coreutils ca-certificates 
    - pipx install uv
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
    - curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    - chmod 700 get_helm.sh
    - ./get_helm.sh
    - curl -LO https://github.com/kubernetes/minikube/releases/latest/download/minikube-linux-amd64
    - install minikube-linux-amd64 /usr/local/bin/minikube && rm minikube-linux-amd64
    - pipx install cibutler --index-url https://community.opengroup.org/api/v4/projects/1558/packages/pypi/simple --pip-args="--extra-index-url=https://community.opengroup.org/api/v4/projects/148/packages/pypi/simple"
    - $PACKAGE --version
    - uv run $PACKAGE --version
    - install -m 0755 -d /etc/apt/keyrings
    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
    - chmod a+r /etc/apt/keyrings/docker.asc
    - apt install -y apt-transport-https software-properties-common
    - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
    - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable"
    - apt-cache policy docker-ce
    - apt install -y docker-ce
    - docker info
    - docker ps
    - pipx install hostsman
    - hostsman -i osdu.localhost:127.0.0.1 osdu.local:127.0.0.1 airflow.localhost:127.0.0.1 airflow.local:127.0.0.1 minio.localhost:127.0.0.1 minio.local:127.0.0.1 keycloak.localhost:127.0.0.1 keycloak.local:127.0.0.1
    - uv run $PACKAGE --help
    - curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash
    - k3d --version
    - k3d cluster delete osdu || echo "delete failed"
    - k3d --verbose cluster create osdu
    - k3d cluster ls
    - kubectl get nodes
    - uv run $PACKAGE check --target k3d || echo "check failed"
    - uv run $PACKAGE install --force --kubernetes --quiet -d skip || echo "install failed"; result=$?
    - uv run $PACKAGE status --threshold=5
    - LOGFILE=$(uv run $PACKAGE diag logfile)
    - echo LOGFILE $LOGFILE
    - cp $LOGFILE cibutler.log
    - uv run $PACKAGE delete --force || echo "delete failed"
    - k3d cluster delete osdu || echo "delete failed"
    - cp $LOGFILE cibutler.log
    - "[ $result == 0 ]"
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
  after_script:
    - cp /root/cibutler.log cibutler.log
  artifacts:
    paths:
      - cibutler.log
    expire_in: 8 hrs

include:
  - project: "osdu/platform/ci-cd-pipelines"
    file: "scanners/gitlab-ultimate.yml"

sonarqube-scan-python:
  stage: scan
  needs: ["compile-and-unit-test"]
  tags: ['osdu-medium']
  dependencies:
  - compile-and-unit-test
  rules:
  - if: $SONAR_CLOUD_TOKEN
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - |
      SONAR_SCANNER_OPTS="
        -Dsonar.host.url=${SONAR_CLOUD_URL}
        -Dsonar.token=${SONAR_CLOUD_TOKEN}
        -Dsonar.projectKey=org.opengroup.osdu:$CI_PROJECT_NAME
        -Dsonar.organization=osdu
        -Dsonar.python.coverage.reportPaths=coverage.xml"

      if [ -n "$CI_MERGE_REQUEST_IID" ]; then
        SONAR_SCANNER_OPTS="$SONAR_SCANNER_OPTS
          -Dsonar.pullrequest.gitlab.api_url=https://community.opengroup.org/api/v4
          -Dsonar.pullrequest.gitlab.project_id=$CI_PROJECT_ID
          -Dsonar.pullrequest.key=$CI_MERGE_REQUEST_IID
          -Dsonar.pullrequest.branch=$CI_COMMIT_REF_NAME
          -Dsonar.pullrequest.base=$CI_MERGE_REQUEST_TARGET_BRANCH_NAME"
      fi
    - sonar-scanner $SONAR_SCANNER_OPTS

  allow_failure: true
