variables:
  UV_VERSION: 0.5.5
  PYTHON_VERSION: 3.13
  BASE_LAYER: bookworm-slim
  PACKAGE: cibutler
  UV_PUBLISH_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi"  
  UV_PUBLISH_USERNAME: "gitlab-ci-token"  
  UV_PUBLISH_PASSWORD: "${CI_JOB_TOKEN}"  

stages:
  - review
  - build
  - test
  - linters
  - scan
  - deploy
  - publish

deploy-pages:
  stage: build
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  tags: ["osdu-small"]
  pages: true # specifies that this is a Pages job
  script:
    - uv run $PACKAGE
    - uv run $PACKAGE docs generate --name $PACKAGE --output docs/docs/commands_reference.md
    - apt update
    - apt install git -y
    - pip install --default-timeout=1000 mkdocs-material
    - pip install termynal
    - pip install mkdocs-git-revision-date-plugin
    - cd docs
    - mkdocs build --site-dir ../public
  needs: []
  artifacts:
    paths:
      - public
  when: manual

publish-python-package:
  stage: build
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  tags: ["osdu-small"]
  script:
    - apt update
    - apt install git -y
    - uv run $PACKAGE
      # Set the version in pyproject.toml based on VERSION file, pipeline details and git tags
    - VERSION=$(uv run setversion.py)  
    - uvx --from=toml-cli toml set --toml-path=pyproject.toml project.version $VERSION
    - uv build
    - uv run --with $PACKAGE --no-project -- python -c "import $PACKAGE"
    - uv publish dist/*.whl
  needs: []
  when: manual

prepare-release-notes:
  stage: build
  image: alpine:latest
  rules:
  - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/'
  script:
    - apk add curl jq
    - 'curl -H "PRIVATE-TOKEN: $CI_API_TOKEN" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/repository/changelog?version=$CI_COMMIT_TAG" | jq -r .notes > release_notes.md'
  artifacts:
    paths:
    - release_notes.md
  when: manual

publish-release-notes:
  stage: publish
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: prepare-release-notes
      artifacts: true
  rules:
  - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/'
  script:
    - echo "Creating release"
  release:
    name: 'Release $CI_COMMIT_TAG'
    description: release_notes.md
    tag_name: '$CI_COMMIT_TAG'
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'Container Image $CI_COMMIT_TAG'
          url: "https://$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA"
  when: manual