# OSDU Infra and OSDU Bootstraps Values
## Airflow
## @section AirFlow Helm Chart Parameters 
## see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/airflow-helm-chart/-/tree/main/chart?ref_type=heads
## for values
airflow:
  auth:
    password: ""                  
    username: admin
  dagProcessor:
    enabled: false
  externalDatabase:
    database: airflow
    password: ""                      #needs to be updated
    user: airflow_owner
    host: postgresql-db               #must be the same as postgresql.fullnameOverride
    serviceName: airflow-web
  fullnameOverride: airflow
  postgresql:
    enabled: false
  scheduler:
    podAnnotations:
      sidecar.istio.io/inject: "false"
  setupDBJob:
    enabled: false
  triggerer:
    enabled: false
  waitForDBMigrations:
    containerSecurityContext:
      runAsGroup: 1337
      runAsUser: 1337
  worker:
    podAnnotations:
      sidecar.istio.io/inject: "false"
  image:
    debug: true
  web:
    extraEnvVarsCM: airflow-config
  ### @section AirFlow Infra Bootstrap Parameters 
  ### see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/airflow-infra-bootstrap/-/tree/main/chart?ref_type=heads
  ### for values
  airflow-infra-bootstrap:
    enabled: true
    global:
      domain: ""                       #needs to be updated
      useHttps: false
    airflow:
      auth:
        password: ""                   #needs to be updated
        username: "admin"
      externalDatabase:
        user: "airflow_owner"
        password: ""                   #needs to be updated
        database: "airflow"
      serviceName: airflow-web
  
## Elasticseach
## @section Elastic Helm Chart Parameters 
## see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/elastic-helm-chart/-/tree/main/chart?ref_type=heads
## for values
elasticsearch:
  enabled: true
  sysctlImage:
    enabled: false
  fullnameOverride: "elasticsearch"
  rosa: true
  security:
    enabled: true
    elasticPassword: "Kolay1Parola"                 #needs to be updated
    tls:
      autoGenerated: true
  master:
    fullnameOverride: "elasticsearch"
    masterOnly: false
    resourcesPreset: "medium"
    heapSize: 1024m
    replicas: "1"
    persistence:
      size: 8Gi
  coordinating:
    enabled: true
    replicaCount: "0"
  data:
    replicas: "1"
    persistence:
      size: 30Gi
  ingest:
    enabled: true
    replicaCount: "0"
  ### @section Elastic Infra Bootstrap Parameters 
  ### see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/elastic-infra-bootstrap/-/tree/main/chart?ref_type=heads
  ### for values
  elastic-infra-bootstrap:
    enabled: true
    global:
      dataPartitionId: "osdu"
      domain: ""                      #needs to be updated
      useTls: true
    elastic_bootstrap:
      secret:
        elasticPassword: "Kolay1Parola"           #needs to be updated

## Keycloak
## @section Keycloak Helm Chart Parameters 
## see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/keycloak-helm-chart/-/tree/main/chart?ref_type=heads
## for values
keycloak:
  enabled: true
  fullnameOverride: "keycloak"
  auth:
    adminPassword: "Kolay1Parola"
  service:
    type: ClusterIP
  postgresql:
    enabled: false
  # This value needs to be changed to "none" if http is used to open admin console
  proxy: edge

  ### @section Keycloak Infra Bootstrap Parameters 
  ### see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/keycloak-infra-bootstrap/-/tree/main/chart?ref_type=heads
  ### for values
  keycloak-infra-bootstrap:
    enabled: true
    global:
      domain: ""                    #needs to be updated
      useHttps: false
    keycloak:
      auth:
        adminPassword: "Kolay1Parola"           #needs to be updated

## Minio
## @section Minio Helm Chart Parameters 
## see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/minio-helm-chart/-/tree/main/chart?ref_type=heads
## for values
minio:
  enabled: true
  fullnameOverride: "minio"
  auth:
    rootUser: "minio"
    rootPassword: "Kolay1Parola"                   #needs to be updated
  persistence:
    size: 100Gi
  ### @section Minio Infra Bootstrap Parameters 
  ### see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/minio-infra-bootstrap/-/tree/main/chart?ref_type=heads
  ### for values
  minio-infra-bootstrap:
    enabled: true
    global:
      domain: ""                       #needs to be updated
      useHttps: false
    minio:
      auth:
        rootPassword: "Kolay1Parola"               #needs to be updated

## PostgreSQL
## @section Postgresql Helm Chart Parameters 
## see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/postgresql-helm-chart/-/tree/main/chart?ref_type=heads
## for values
postgresql:
  enabled: true
  fullnameOverride: "postgresql-db"
  global:
    postgresql:
      auth:
        postgresPassword: "Kolay1Parola"            #needs to be updated         
        database: "postgres"
  primary:
    persistence:
      enabled: true
      size: 10Gi
    resourcesPreset: "medium"
  ### @section Postgresql Infra Bootstrap Parameters 
  ### see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/postgresql-infra-bootstrap/-/tree/main/chart?ref_type=heads
  ### for values
  postgres-infra-bootstrap:
    enabled: true
    global:
      domain: ""                       #needs to be updated
    postgresql:
      global:
        postgresql:
          auth:
            postgresPassword: "Kolay1Parola"       #needs to be updated

# OSDU Bootstraps
## @section Elastic Bootstrap Parameters 
## see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/elastic-bootstrap/-/tree/main/chart?ref_type=heads
## for values
elastic-bootstrap:
  enabled: true

## @section Common Infra Bootstrap Parameters 
## see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/common-infra-bootstrap/-/tree/main/chart?ref_type=heads
## for values
common-infra-bootstrap:
  enabled: true
  global:
    domain: ""                        #needs to be updated
    dataPartitionId: "osdu"
    useHttps: false
  postgresql:
    fullnameOverride: "postgresql-db" #must be the same as postgresql.fullnameOverride
  airflow:
    auth:
      password: "Kolay1Parola"                    #needs to be updated and must be the same as password provided in Airflow Values
      username: "admin"
    externalDatabase:
      user: "airflow_owner"
      password: "Kolay1Parola"                    #needs to be updated and must be the same as password provided in Airflow Values
      database: "airflow"
  bootstrap:
    keycloak:
      secret:
        keycloakRealmName: "osdu"
        keycloakService: "http://keycloak"
    postgres:
      keycloak:
        name: "keycloak"
        user: "keycloak_owner"
        password: "keycloak"
        host: "postgresql-db"
        port: "5432"
      external: false

## @section RabbitMQ Boostrap Parameters 
## see chart at https://community.opengroup.org/osdu/platform/deployment-and-operations/base-containers-cimpl/rabbitmq-bootstrap/-/tree/main/chart?ref_type=heads
## for values
cimpl-bootstrap-rabbitmq:
  enabled: true
  rabbitmq:
    auth:
      username: "rabbitmq"
      password: "Kolay1Parola"                  #needs to be updated
  rosa: true

# OSDU Services values
# --- Crs-catalog values --- #
core-plus-crs-catalog-deploy:
  enabled: true
  global:
    domain: ""                        #needs to be updated
  data:
    serviceAccountName: crs-catalog
    logLevel: INFO
# --- End of Crs-catalog values --- #

# --- Crs-conversion values --- #
core-plus-crs-conversion-deploy:
  enabled: true
  global:
    onPremEnabled: true
    domain: ""                       #needs to be updated
  data:
    serviceAccountName: crs-conversion
    logLevel: INFO
# --- End of Crs-conversion values --- #

# --- Dataset values --- #
core-plus-dataset-deploy:
  enabled: true
  global:
    domain: ""                       #needs to be updated
  data:
    serviceAccountName: "dataset"
    logLevel: INFO
# --- End of Dataset values --- #

# --- Entitlements values --- #
core-plus-entitlements-deploy:
  enabled: true
  global:
    domain: ""                       #needs to be updated
    dataPartitionId: "osdu"
  rosa: true
  data:
    serviceAccountName: "entitlements"
    logLevel: INFO
    bootstrapServiceAccountName: "bootstrap-sa"
    adminUserEmail: "osdu-admin@service.local"
# --- End of Entitlements values --- #

# --- File values --- #
core-plus-file-deploy:
  enabled: true
  global:
    domain: ""                       #needs to be updated
  data:
    serviceAccountName: "file"
    logLevel: INFO
# --- End of File values --- #

# --- Indexer values --- #
core-plus-indexer-deploy:
  enabled: true
  global:
    domain: ""                       #needs to be updated
  data:
    logLevel: INFO
# --- End of Indexer values --- #

# --- Legal values --- #
core-plus-legal-deploy:
  enabled: true
  global:
    domain: ""                        #needs to be updated
  data:
    cronJobServiceAccountName: "bootstrap-sa"
    logLevel: INFO
# --- End of Legal values --- #

# --- Notification values --- #
core-plus-notification-deploy:
  enabled: true
  global:
    domain: ""                        #needs to be updated
  data:
    logLevel: INFO
# --- End of Notification values --- #

# --- Partition values --- #
core-plus-partition-deploy:
  enabled: true
  global:
    domain: ""                       #needs to be updated
    dataPartitionId: "osdu"
  data:
    logLevel: INFO
    policyServiceEnabled: "true"
    minioExternalEndpoint: ""        # use only if external minio is configured
# --- End of Partition values --- #

# --- Policy values --- #
core-plus-policy-deploy:
  enabled: true
  global:
    domain: ""                       #needs to be updated
    dataPartitionId: "osdu"
  data:
    bucketName: "refi-opa-policies"
    bootstrapServiceAccountName: "bootstrap-sa"
    logLevel: INFO
  rosa: true
# --- End of Policy values --- #

# --- Register values --- #
core-plus-register-deploy:
  enabled: true
  global:
    onPremEnabled: true
    domain: ""                         #needs to be updated
  data:
    logLevel: INFO
    subscriberPrivateKeyId: ""         #needs to be updated
# --- End of Register values --- #

# --- Schema values --- #
core-plus-schema-deploy:
  enabled: true
  global:
    domain: ""                         #needs to be updated
    dataPartitionId: "osdu"
  data:
    bootstrapServiceAccountName: "bootstrap-sa"
    logLevel: INFO
# --- End of Schema values --- #

# --- Search values --- #
core-plus-search-deploy:
  enabled: true
  global:
    domain: ""                         #needs to be updated  
  data:
    logLevel: INFO
    servicePolicyEnabled: true
  rosa: true    
# --- End of Search values --- #

# --- Storage values --- #
core-plus-storage-deploy:
  enabled: true
  global:
    domain: ""                       #needs to be updated  
  data:
    logLevel: INFO
    bootstrapServiceAccountName: "bootstrap-sa"
    # FIXME: remove before M25 release (branch release/0.28)
    opaEnabled: true
  rosa: true
# --- End of Storage values --- #

# --- Unit values --- #
core-plus-unit-deploy:
  enabled: true
  global:
    onPremEnabled: true
    domain: ""                        #needs to be updated
  data:
    logLevel: INFO  
# --- End of Unit values --- #

# --- Wellbore values --- #
core-plus-wellbore-deploy:
  enabled: true
  global:
    dataPartitionId: "osdu"
    domain: ""                        #needs to be updated
  data:
    logLevel: INFO  
# --- End of Wellbore values --- #

# --- Wellbore Worker values --- #
core-plus-wellbore-worker-deploy:
  enabled: true
  global:
    domain: ""                        #needs to be updated
# --- End of Wellbore Worker values --- #

# --- Workflow values --- #
core-plus-workflow-deploy:
  enabled: true
  global:
    dataPartitionId: "osdu"
    domain: ""                        #needs to be updated
  data:
    sharedTenantName: "osdu"
    bootstrapServiceAccountName: "bootstrap-sa"
    logLevel: INFO  
# --- End of Workflow values --- #

# --- Secret service values --- #
core-plus-secret-deploy:
  enabled: true
  global:
    dataPartitionId: "osdu"
    domain: ""                        #needs to be updated
  data:
    logLevel: INFO
# --- End of Secret service values --- #

#Password Validation
conf:
  passwordValidation: true